<div class="elemental-roll" style="--theme-color: {{themeColor}}">
  <div class="roll-header">
    <h2>{{elementName}}</h2>
    <span class="roll-type">Elemental Bonus Roll</span>
  </div>
  <div class="roll-content">
    <div class="roll-formula">{{rollFormula}}</div>
    <div class="roll-result">{{rollResult}}</div>
  </div>
</div>