<section class="elemental-tab-wrapper">
  <section class="circle-controls">
    <label for="nodeCountInput">Number of Elements</label>
    <input type="number" id="nodeCountInput" min="1" max="12" value="3" />
    <label for="themeColorPicker" style="margin-top: 0.5em;">Theme Color</label>
    <input type="color" id="themeColorPicker" />
    <button id="updateNodesButton">Update</button>
  </section>

  <section class="elemental-circle-container">
    <div class="circle center" id="main-circle"></div>
    <!-- Triangle Nodes will be injected here -->
  </section>
</section>